<a class="bt-quit" href="#!/">Left</a>
<a class="bt-new" href="#!/eventos/{{session.id}}">New</a>

<div class="checkbox mb-3"></div>
<h1 class="h3 mb-3 font-weight-normal">Events</h1>
<div class="checkbox mb-3"></div>

<div class="box" ng-repeat="evento in eventos">
    <h3 class="h3 mb-3 font-weight-normal">{{evento.id}}</h3>

    <p  class="h3 mb-3 font-weight-normal">{{evento.descricao}}</p>
    <p>
        <a href="#!/eventos/{{evento.id}}/{{evento.usuarioId}}">Edit</a>
        <!--<button type="button" class="btn btn-danger" ng-click="excluir(evento.id)">Delete</button>-->
    </p>
</div>
